// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: #f6f6f6;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 20px;
}

.header {
  text-align: center;
}

.container {
  background-color: white;
  margin: 20px auto;
  width: 400px;
  padding: 5px 15px ;
}

.form {
  background-color: white;
  margin: 20px auto;
  width: 400px;
  padding: 15px 25px;
}

.field > input {
  width: 300px;
}

ul > li > a {
  text-decoration: none;
  color: black;
  opacity: .7;
}

.btn {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px 15px;
  background-color: #ec4646;
  border-radius: 8px;
  margin-left: 10px;
}

.btn:hover {
  background-color: #663f3f;
}

a:hover {
  opacity: 1;
}

ul {
  list-style-type: none;

}

.buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}
